body {
  background-image: url("https://cdn.pixabay.com/photo/2014/05/21/22/28/old-newspaper-350376__480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Yuji Syuku", serif;
}

.content-container {
  background: rgba(199, 199, 199, 0.9);
  border: grey groove;
  width: 80%;
}

h1 {
  border: solid;
  color: whitesmoke;
  padding: 1rem 1rem 1.3rem 1rem;
}

h3 {
  font-size: 1.4rem;
}
